<<<<<<< HEAD
.img-left{
    width: 100%;
    border-radius: 15px 0px 0px 15px;
}
.imgs-right{
    
    width: 49%;
    /* box-sizing: content-box; */
}

.top-right-img{
    border-radius: 0 15px 0 0;
}

.bottom-right-img{
    border-radius: 0 0 15px 0;
}

.inline{
    display: inline-block;
    margin: 0;
}

.reviews-info{
    font-size: 12px;
    margin: 0;
}

.reviews-info > a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

.reviews-obj{
    height: 100%;
    width: 12.80vw;
    font-size: 10pt;
    border-right: 1px solid lightgray;
}

.reviews-obj > p{
    margin: 0;
}

.reviews-obj > ol{
    list-style-type: none;
    counter-reset: li-counter;
}

.reviews-obj > ol > li{
    display: flex;
    align-items: center;
    height: 16px;
    counter-increment: li-counter;
}

.reviews-obj > ol > li::before{
    content: counter(li-counter);
    background-color: white;
}

.reviews-obj:last-of-type{
    border: none;
}

.reviews-li{
    height: 4px;
    width: 80%;
    margin-left: 5px;
    border-radius: 2px;
    background-color: lightgray;
}

.black{
    background-color: black;
}

.reviews-content{
    position: relative;
    height: 100%;
    padding-left: 8%;
}

.reviews-arg{
    font-size: 12pt;
}

div.reviews-obj > div.reviews-content > i[class^="fa"]{
    position: absolute;
    bottom: 10px;
    font-size: 20pt;
}

div.reviews-obj > div.reviews-content > i[class$="key"]{
    transform: rotateY(180deg);
}

div.col-md-10.offset-md-1 > h4 > i.fa-solid.fa-star{
    font-size: 20px;
    padding: 5px;
}

@media screen and (max-width: 767px){
    .img-all{
        border-radius: 15px !important;
        margin: 0px 0px 10px 0px;
        box-sizing: content-box;
    }

    .img-all.imgs-right:nth-last-of-type(odd){
        margin-left: 5px;
    }
}

@media screen and (max-width: 296px){
    .img-all{
        width: 100vw;
        margin: 10px 0px 0px 0px !important;
    }
=======
/** General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

.txt-black {
    color: black;
}

.btn-bg-color {
    background-image: linear-gradient(#fe375b, #e01064);
}

.btn-border {
    border: 1px solid #afafaf;
}

.bg-light {
    background-color: white !important;
}

/**Navbar sec */
nav .logo {
    height: 60px;
    width: auto;
}

nav div:first-of-type .search-area button span:last-of-type {
    background-image: linear-gradient(#fe375b, #e01064);
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

nav .btn.dropdown-toggle::after {
    display: none !important;
}



/** hidden search bar */
nav>div:nth-of-type(2) {
    height: 100px;
}

nav>div:nth-of-type(2) input {
    height: 60px;
    border-radius: 30px
}

nav>div:nth-of-type(2) div:first-of-type input {
    border-radius: 30px 0 0 30px;
    border-right: 0;
}

nav>div:nth-of-type(2) div:nth-of-type(2) input,
nav>div:nth-of-type(2) div:nth-of-type(3) input,
nav>div:nth-of-type(2) div:nth-of-type(4) input {
    border-radius: 0;
    border-right: 0;
}

nav>div:nth-of-type(2) div:last-of-type button {
    border-radius: 0 30px 30px 0;
}

nav>div:nth-of-type(2) label {
    transform: translate(17px, 25px);
    color: #ff385c;
    font-weight: 700;
}

nav div:last-of-type button span {
    color: white;
}


nav>div:last-of-type>div:last-of-type {
    border: none;
    height: 60px;
    background-color: white;
}


/**Info section*/
.profil-pic {
    width: 40px;
}

.info-sec>div:nth-of-type(2) p:nth-of-type(2) {
    color: #83857e;
}

/** PRENOTATION BLOCK */

.prenotation-card {
    position: sticky;
    top: 10px;
}

.prenotation-card>div.container-fluid div:first-of-type div:first-of-type button {
    border-radius: 5px 0 0 0;
    border: 1px #afafaf solid;
    border-bottom: 0;
    margin: 0;
    color: black;
    background-color: white !important;
    font-size: 16px;
}

.prenotation-card>div.container-fluid div:first-of-type div:last-of-type button {
    border-radius: 0 5px 0 0;
    border: 1px #afafaf solid;
    border-bottom: 0;
    border-left: 0;
    margin: 0;
    color: black;
    background-color: white !important;
    font-size: 16px;
}

.prenotation-card>div.container-fluid div:first-of-type div:first-of-type input {
    border: 1px #afafaf solid;
    border-top: 0;
    margin: 0;
    font-size: 12px;
}

.prenotation-card>div.container-fluid div:first-of-type div:last-of-type input {
    border: 1px #afafaf solid;
    border-top: 0;
    margin: 0;
    font-size: 12px;
    border-left: 0;
}

.prenotation-card>div.container-fluid div:nth-of-type(2) button {
    border-radius: 0 0 0 5px;
    border: 0;
    border-bottom: 1px #afafaf solid;
    border-left: 1px #afafaf solid;
    margin: 0;
    color: black;
    background-color: white !important;
    font-size: 16px;
    padding-left: 25px;
}

.prenotation-card>div.container-fluid div:nth-of-type(2) input {
    border: 0;
    border-bottom: 1px #afafaf solid;
    border-right: 1px #afafaf solid;
    border-top: 0;
    margin: 0;
    font-size: 12px;
}

.prenotation-card>div.container-fluid div:nth-of-type(3) button {
    color: white;
    font-weight: 700;
    background-image: linear-gradient(#fe375b, #e01064);
}

.prenotation-card>div.container-fluid>p {
    font-size: 10px;
    text-align: center;
>>>>>>> fadc62bec802a8b07b384e176db95d00b324481c
}